body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    position: relative;
    height: 100vh; /* 100% del viewport height */
    overflow: hidden; /* Para ocultar cualquier contenido que se extienda más allá del header */
    
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para que las imágenes se ajusten al tamaño del contenedor */
    animation: fadeIn 5s ease-in-out; /* Agrega una animación de fadeIn a las imágenes */
    z-index: 1; /* Establece un z-index constante para todas las imágenes */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    color: white; /* Cambia el color del texto según sea necesario */
    opacity: 0; /* Inicialmente, establece la opacidad del contenido en 0 */
    animation: fadeInContent 2s 6s ease-in-out forwards; /* Agrega una animación para el título después de 6 segundos */
    z-index: 2; /* Establece un z-index mayor para que esté encima de las imágenes */
    padding: 20px;
    border-radius: 10px; /* Añade bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Añade una sombra */
}

.content p{
    font-size: 20px;
    margin-top: 12px;
    text-align: center;
    
}



@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInContent {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
