/* styles.css */
.aside {
   
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .aside-title {
    text-align: center;
    font-size: 2.5rem; /* Ajusta el tamaño del título según tus preferencias */
    color: #fff;
    margin-bottom: 10px;
  }
  
  .gif-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .gif-container img {
    width: 30%;
    margin: 10px;
    transition: transform 0.3s ease; /* Agrega una transición para un efecto suave */
  }
  
  /* Aplica el efecto de agrandamiento al pasar el ratón */
  .gif-container img:hover {
    transform: scale(1.2); /* Ajusta el factor de escala según tus preferencias */
  }
  
  /* Media query para pantallas más pequeñas */
  @media (max-width: 768px) {
    .gif-container {
      flex-wrap: wrap;
      justify-content: center; /* Alinea al centro en lugar de alrededor */
    }
  
    .gif-container img {
      width: 80%;
      flex: 0 0 50%; /* Establece el ancho del 50% para mostrar dos en cada fila */
    }
  }
  